<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<nav class="navbar">
    <div class="menu-toggle">&#9776;</div>
    <div id="title"></div>
    <div class="nav-links">
        <a class="nav-button" href="/index.html">ABOUT ME</a>
        <a class="nav-button" href="/career.html">CAREER</a>
        <a class="nav-button" href="/projects.html">PROJECTS</a>
        <a class="nav-button" href="/passions.html">PASSIONS</a>
        <a class="nav-button" href="/games.html">GAMES</a>
        <a class="nav-button" href="/networks.html">NETWORKS</a>
    </div>
    <div id="attribution"><a href="/attribution.html"><i class="fas fa-info-circle"></i></a></div>
</nav>