#networks-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 30px;
    width: 100%;
    padding: 30px 0;
}

.network-item {
    display: flex;
    align-items: center;
    border: 1px solid #8de3fd;
    border-radius: 50px;
    height: 100px;
    padding: 20px;
    width: 315px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.network-item img {
    width: 100px;
    border-radius: 40px;
    background-color: white;
}

.linkItem:nth-child(even) {
    justify-self: start;
}

.linkItem:nth-child(odd)  {
    justify-self: end;
    margin-right: 55px;
}
     /* change this by the amount .network-item's width changes */


.username{
    padding-left: 15px;
    font-size: 1.1em;
    color: black;
}

a {
    text-decoration: none;
    width: 300px;
}

h1 {
    text-align: center;
    font-size: 3.5em;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace; 
}

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
}

@media (max-width:760px) {
    #networks-container {
        grid-template-columns: 1fr;
        margin: auto;
        justify-items: center;
        align-items: center;
    }
    
    .linkItem {
        margin-right: 55px;
        /* Change this with .linkitem:nth-child(odd) margin-right line 83 */
    }

    .linkItem:nth-child(even) {
        justify-self: center;
    }
    
    .linkItem:nth-child(odd)  {
        justify-self: center;
        margin-right: 55px;
        /* Change this with .linkitem margin-right line 73 */
    }
}